<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: antiquewhite;
        }
        div{
            border: 2px solid black;
        }
        #first{
            background-color: brown;
            color: black;
        }
        #second{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <center>
        <div id="first">
            <marquee><h1>welcome to Jinja Printing Tags</h1></marquee>
        </div>
        <div id="second">
            <h1>Name of Student : {{name}} </h1>
            <h1>Age of  {{name}} is {{age}} </h1>
            <h1>Designation  {{ job }} </h1>
        </div>

    </center>
</body>
</html>